@import "../../styles/variables.scss";

.dropdownButton {
  width: 100%;
  border-radius: 0;
}

.dropdownMenu {
  width: 100%;
  color: white;
  max-height: 100px;
  max-height: 40vh;
  overflow-y: scroll;
}

.dropdownOption {
  margin-left: 1.5rem;
  padding-top: 5px;
  padding-bottom: 5px;
}

.description {
  font-size: 0.8rem;
  color: $font-color-h;
}
