@import "../../../../styles/variables.scss";

.modeRow {
  background-color: black;
}

.modeIcon {
  width: 22px;
  height: 22px;
  fill: $font-color-h;
  color: $font-color-h;
  cursor: pointer;
  transition: transform 0.2s;

  &:hover {
    color: lightgray;
    transform: scale(1.1);
  }
}

.modeIconSelected {
  color: $font-color;
}

.lightBox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(245, 245, 245, 0.92);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.blackBox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(10, 10, 10, 0.92);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.lightBoxContent {
  width: 80%;
  height: 80%;
}

.lightBoxCloseIcon {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 30px;
  height: 30px;
  color: black;
  cursor: pointer;
  transition: transform 0.2s;
}

.blackBoxCloseIcon {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 30px;
  height: 30px;
  color: white;
  cursor: pointer;
  transition: transform 0.2s;
}

.traitDiv {
  background-color: rgb(23, 22, 28);
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.015);
  }
}

.downloadBtn {
  padding: 0;
  background-color: transparent !important;
  border: none !important;
  display: flex;

  &::after {
    display: none !important;
  }
}
