@use 'sass:color';
@use "../../styles/variables.scss";

.downloadUrlWidget {
  background-color: transparent;
  border: none !important;
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 0.5rem;

  &:hover {
    color: color.scale(variables.$font-color, $lightness: -(variables.$darken-percentage));
    svg {
      color: color.scale(variables.$font-color, $lightness: -(variables.$darken-percentage));
    }
  }

  svg {
    width: 20px;
    color: white;
  }
}
