@import "../../styles/variables.scss";

.downloadUrlWidget {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: fit-content;
  margin-left: 15px;
  margin-right: 15px;

  &:hover {
    color: darken($color: $font-color, $amount: $darken-percentage);
    text-decoration: underline;
    svg {
      color: darken($color: $font-color, $amount: $darken-percentage);
    }
  }

  svg {
    width: 20px;
    color: white;
    margin-right: 10px;
  }
}
