@import "../../../styles/variables.scss";

.htmlContainer {
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: $main-font !important;
    float: none;
    color: $font-color;
  }
  img {
    max-width: 80%;
    margin-left: 5%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  a {
    text-decoration: none;
  }
}

.pageNotFound {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 30px;

  img {
    width: 100px;
    fill: white;
  }
}
