@use "../../styles/variables.scss";

.header {
  background-color: rgb(40, 40, 40);
  color: white;
  padding: 10px;
}

.modalClose {
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.body {
  background-color: black;
  color: white;
  border-left: 2px solid rgb(40, 40, 40);
  border-right: 2px solid rgb(40, 40, 40);
  padding: 20px;
}

.footer {
  border: 2px solid rgb(40, 40, 40);
  background-color: black;
  color: white;
  border-radius: 0 !important;
  padding: 20px 5px;
}
