@use "../../styles/variables.scss";

.header {
  padding: 1rem;
  background-color: rgb(40, 40, 40) !important;
  color: variables.$font-color !important;
  border: 1px solid variables.$lighter-grey !important;
  border-radius: 0 !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modalClose {
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.body {
  padding: 1rem;
  background-color: rgb(40, 40, 40) !important;
  color: variables.$font-color !important;
  border-top: 0 !important;
  border-left: 1px solid variables.$lighter-grey !important;
  border-right: 1px solid variables.$lighter-grey !important;
  border-radius: 0 !important;
}

.footer {
  padding: 1rem;
  border: 1px solid variables.$lighter-grey !important;
  background-color: rgb(40, 40, 40) !important;
  color: white !important;
  border-radius: 0 !important;
}
