.editor-placeholder {
  color: #848490;
  font-weight: normal;
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  top: 11px;
  left: 14px;
  font-size: 16px;
  user-select: none;
  display: inline-block;
  pointer-events: none;
}

.editor-mention {
  color: rgb(29, 155, 240)
}

.editor-hashtag {
  color: rgb(29, 155, 240)
}

.editor-paragraph {
  margin-right: 0;
  margin-bottom: 8px;
  position: relative;
}

.editor-paragraph:last-child {
  margin-bottom: 0;
}

.editor-quote {
  position: relative;
  margin: 0 0 8px;
  padding-left: 16px;
  border-left: 4px solid #848490;
  color: #e5e7eb;
}

.editor-quote::before {
  content: ">";
  position: absolute;
  left: 4px;
  top: 0;
  color: #93939f;
  font-weight: 600;
}

.editor-input-one-liner {
  overflow-x: auto;
  min-height: 45px;
}

.editor-input-multi-liner {
  overflow-y: auto;
  height: 200px;
}

.editor-code,
.editor-text-code {
  color: #e5e7eb;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.editor-code {
  background-color: transparent;
}

.editor-nested-listitem {
  list-style-type: none;
}
