# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
/test-results/
/playwright-report/
/playwright/.cache/
/storageState.json
/playwright/.auth/
storageState.json
/trace.zip

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

.env.*
!.env.sample

/analyze
/.idea/

# sitemap
public/robots.txt
public/sitemap.xml
public/sitemap-*.xml

public/emoji-list.json

# Added by Claude Task Master
# Logs
logs
*.log
dev-debug.log
# Dependency directories
node_modules/
# Environment variables
.env
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# OS specific
# Task files
tasks.json
tasks/ 
.coverage-progress.json

# Jest
jest-failed-tests.txt
jest-results.json

# Claude folder
claude.md
.claude/commands/
test.html
.claude/

# generated env schema for Node runtime
/config/env.schema.runtime.cjs
.githooks/
scripts/lint-to-json.js
