@use "../../../styles/variables.scss";

.tabLeft {
  color: variables.$font-color-h;
  cursor: pointer;

  &:hover {
    color: variables.$font-color;
    transform: scale(1.01);
  }
}

.tabLeftActive {
  transform: scale(1.01);
  color: variables.$font-color !important;
}

.closeIcon {
  height: 30px;
  color: variables.$font-color;
  cursor: pointer;

  &:hover {
    color: variables.$off-white;
  }
}
