.tabLeft {
  cursor: pointer;
  color: rgb(154, 154, 154);
}

.tabLeft:hover {
  color: white;
  transform: scale(1.01);
}

.tabLeftActive {
  color: white !important;
  transform: scale(1.01);
}

.closeIcon {
  height: 30px;
  cursor: pointer;
  color: white;
}

.closeIcon:hover {
  color: rgb(215, 215, 215);
}
