@import "../../styles/variables.scss";

.ownerAddress {
  float: none;
  color: $font-color !important;
  span {
    text-decoration: none !important;
  }
}

.subHeader {
  font-weight: lighter;
  color: $font-color !important;
  float: none;
}

.lastTDH {
  white-space: nowrap;
  color: $font-color-h !important;
  font-size: smaller;
  vertical-align: top !important;
  a {
    color: $font-color-h !important;
  }
}

@media only screen and (max-width: 800px) {
  .lastTDH {
    line-height: 26px;
  }
}

.seizedToggle {
  line-height: 28px;
  width: fit-content;
  min-width: 150px;
  float: left;
  padding-right: 15px;
  input {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23000'/%3e%3c/svg%3e") !important;
    border-color: black !important;
  }
  input:checked {
    background-color: $green !important;
  }
}

@media only screen and (max-width: 800px) {
  .seizedToggle input {
    margin-right: 6px;
    margin-left: -1.5em !important;
  }
}

.sortDirection {
  width: $font-size;
  cursor: pointer;
}

.disabled {
  color: $lightest-grey;
  text-decoration: none;
  &:hover {
    color: white;
  }
}

.sort {
  cursor: pointer;
  margin-right: 15px;
}

.secondaryTableMargin {
  margin-left: 4%;
}

.secondaryTable {
  width: 48%;
  margin-top: 15px;
  float: left;

  tr td {
    line-height: 25px;
  }

  tr:not(:first-child) {
    border-bottom: 1px solid $dark-grey !important;

    td:not(:first-child) {
      text-align: right;
    }
  }
}

.primaryTable {
  tr td {
    width: calc(100% / 6);
    line-height: 25px;
    vertical-align: middle;
  }
  tr:not(:first-child) {
    border-bottom: 1px solid $dark-grey !important;

    td:not(:first-child) {
      text-align: right;
    }
  }

  tr:nth-child(2),
  tr:nth-child(3),
  tr:nth-child(6) {
    border-bottom: none !important;
  }
}

.primaryTableGap {
  height: 15px;
}
