@import "../../styles/variables.scss";

.ownerAddress {
  float: none;
  color: $font-color !important;
  span {
    text-decoration: none !important;
    display: inline-block;
  }
}

.subHeader {
  font-weight: lighter;
  color: $font-color !important;
  float: none;
}

.lastTDH {
  white-space: nowrap;
  color: $font-color-h !important;
  font-size: smaller;
  vertical-align: top !important;
  a {
    color: $font-color-h !important;
  }
}

@media only screen and (max-width: 800px) {
  .lastTDH {
    line-height: 26px;
  }
}

.seizedToggle {
  line-height: 28px;
  float: left;
  padding-right: 25px;

  input {
    border-color: transparent !important;
    background-color: white !important;
    cursor: pointer;
  }

  input:checked {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2.3' fill='%23000'/%3e%3c/svg%3e") !important;
  }
}

@media only screen and (max-width: 800px) {
  .seizedToggle input {
    margin-right: 6px;
    margin-left: -1.5em !important;
  }
}

.sortDirection {
  width: $font-size;
  cursor: pointer;
}

.season {
  color: $font-color;
  cursor: pointer;
}

.disabled {
  color: $lightest-grey;
  text-decoration: none;
  &:hover {
    color: white;
  }
}

.sort {
  cursor: pointer;
  margin-right: 15px;
}

.secondaryTableMargin {
  margin-left: 4%;
}

.secondaryTable {
  width: 48%;
  margin-top: 15px;
  float: left;

  tr td {
    line-height: 25px;
  }

  tr:not(:first-child) {
    border-bottom: 1px solid $dark-grey !important;

    td:not(:first-child) {
      text-align: right;
    }
  }
}

.primaryTableScrollContainer {
  background-color: rgb(30, 30, 30);
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  overflow-x: auto;
}

.primaryTable,
.primaryTableActivity {
  tr td {
    width: calc(100% / 7);
    min-width: 80px;
    line-height: 25px;
    vertical-align: middle;
    white-space: nowrap;
  }
  tr {
    border-bottom: 1px solid $dark-grey !important;

    td:not(:first-child) {
      text-align: center;
    }
  }
}

.primaryTable {
  tr:nth-child(1),
  tr:nth-child(2),
  tr:nth-child(5),
  tr:nth-child(8) {
    border-bottom: none !important;
  }
}

.primaryTableActivity {
  tr:nth-child(1),
  tr:nth-child(2),
  tr:nth-child(6) {
    border-bottom: none !important;
  }
}

.primaryTable > :not(caption) > * > *,
.primaryTableActivity > :not(caption) > * > * {
  padding: 0.3rem !important;
}

.primaryTableGap {
  height: 20px;
}

.focus {
  cursor: pointer;
  &:hover {
    color: white !important;
  }
}

.focusActive {
  cursor: pointer;
  color: white;
}

.transactionsTable {
  tr td {
    white-space: nowrap;
  }
  tr td:first-child {
    width: 1%;
  }

  tr {
    line-height: 40px;
  }

  tr:nth-child(odd) {
    background-color: $almost-very-dark-grey;
  }
}

.transactionsScrollContainer {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  overflow-x: auto;
}

.transactionsScrollContainer::-webkit-scrollbar {
  display: none;
}

.transactionsTable > :not(caption) > * > * {
  padding: 0.5rem !important;
}

.activityFilterDropdown {
  line-height: 48px;
  text-align: center;
  background-color: transparent;
  border: none;
  width: 100%;
  a {
    line-height: 30px;
  }
  button {
    font-size: larger !important;
    font-weight: bolder !important;
    cursor: copy;
    padding: 0;
    background-color: transparent !important;
    border-color: transparent !important;
    &::after {
      margin-top: 0.8rem;
    }
  }
  div {
    width: 80%;
  }
}

@media only screen and (max-width: 800px) {
  .activityFilterDropdown {
    button {
      &::after {
        margin-top: 0.5rem;
      }
    }
  }
}

.marketplace {
  margin-right: 15px;
  width: 40px;

  &:hover {
    opacity: 0.75;
  }
}

.ownerLink {
  font-size: larger;
  font-weight: bolder;
  cursor: pointer;
  width: fit-content;
}

.ownerLinkIcon {
  height: 40px;
}

.settingsIcon {
  height: 25px;
  width: 25px;
  font-size: larger;
  font-weight: bolder;
  cursor: pointer;
  :hover {
    opacity: 0.75;
  }
}

.nftImagePadding {
  padding-bottom: 35px;
}

.distributionsTable {
  tr {
    border-bottom: 1px solid #333 !important;
  }
  tr td {
    white-space: nowrap;
  }
  tr th {
    min-width: 80px;
    white-space: nowrap;
    line-height: 30px;
  }
}

.distributionsScrollContainer {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  overflow-x: auto;
}

.distributionsScrollContainer::-webkit-scrollbar {
  display: none;
}

.distributionsTable > :not(caption) > * > * {
  padding: 0.5rem !important;
}

.userPageAccordion {
  h1,
  h2,
  h3,
  h4,
  h5 {
    float: none;
  }

  button {
    font-weight: bolder;
  }
}

.userPageAccordionItem {
  border-radius: 0 !important;
  background-color: transparent;
}

.seasonDropdown {
  line-height: 48px;
  text-align: center;
  background-color: transparent;
  border: none;
  padding-right: 25px;
  a {
    line-height: 30px;
  }
  button {
    font-size: larger !important;
    font-weight: bolder !important;
    cursor: copy;
    padding: 0;
    background-color: transparent !important;
    border-color: transparent !important;
    &::after {
      margin-top: 0.8rem;
    }
  }
  div {
    width: 60%;
  }
}

@media only screen and (max-width: 800px) {
  .seasonDropdown {
    button {
      &::after {
        margin-top: 0.5rem;
      }
    }
  }
}

.consolidationSwitch {
  display: flex;
  justify-content: flex-end;
}

@media only screen and (max-width: 767px) {
  .consolidationSwitch {
    justify-content: center;
  }
}

.userSection {
  padding: 0;
  min-height: calc(100vh - $header-height - 30px);
  position: relative;
}

.banner {
  height: 120px;
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
  padding-bottom: 10px;

  div {
    height: 120px;
    max-width: calc(100vw - 200px);
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap !important;
  }

  @media only screen and (max-width: 800px) {
    height: auto;
    justify-content: center;

    div {
      justify-content: center;
      max-width: 100%;
      padding-bottom: 90px;
    }
  }
}

.imagePlaceholder {
  justify-content: start;
  @media only screen and (max-width: 800px) {
    justify-content: center;
  }
}

.addressContainer {
  display: flex;
  flex-direction: column;
  @media only screen and (max-width: 800px) {
    align-items: center;
  }
}

.tagsContainer {
  text-align: left;
  @media only screen and (max-width: 575px) {
    text-align: center;
  }
}

.linksContainer {
  text-align: right;
  @media only screen and (max-width: 575px) {
    text-align: center;
  }
}

.pfp {
  height: auto;
  max-height: 200px;
  max-width: 85vw;
  margin-top: -75px;
  min-width: 125px;
  width: auto;
  border: 8px solid $bg-color-2;
}

.pfpPlaceholder {
  display: block;
  width: 200px;
  height: 200px;
  margin-top: -75px;
  border: 10px solid $bg-color-2;
}

.avatarPlaceholder {
  width: 60px;
  height: 60px;
  background-color: $off-white;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: auto;
    height: auto;
    max-width: 30px;
    max-height: 30px;
  }

  &:hover {
    cursor: pointer;
    background-color: white;
  }
}

.detailsRow {
  height: calc(100vh - $header-height - 105px);
}
