@use "sass:color";
@use "../../styles/variables.scss";

.sortDirection {
  width: variables.$font-size;
  cursor: pointer;
}

.disabled {
  color: variables.$lightest-grey;
  text-decoration: none;
  &:hover {
    color: white;
  }
}

.sort {
  cursor: pointer;
  margin-right: 15px;
}

.nftNextdisabled,
.nftPreviousdisabled {
  pointer-events: none !important;
  color: color.scale(
    variables.$font-color,
    $lightness: -(variables.$darken-percentage)
  );
}

.marketplace {
  margin-right: 15px;
}

.marketplace:hover {
  opacity: 0.75;
}

.transactionsTable {
  tr td {
    white-space: nowrap;
  }
  tr td:first-child {
    width: 1%;
  }

  tr {
    line-height: 40px;
  }

  tr:nth-child(odd) {
    background-color: variables.$almost-very-dark-grey;
  }
}

.transactionsScrollContainer {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  overflow-x: auto;
}

.transactionsScrollContainer::-webkit-scrollbar {
  display: none;
}

.transactionsTable > :not(caption) > * > * {
  padding: 0.5rem !important;
}

.gap {
  height: 8px;
  width: 8px;
}

.gradientTable {
  td {
    width: 50%;
  }
}

.nextPreviousNft {
  width: 35px;
  height: 35px;
  svg {
    width: 35px;
    height: 35px;
  }
}

@media only screen and (max-width: 800px) {
  .nextPreviousNft {
    width: 25px;
    height: 25px;
    svg {
      width: 25px;
      height: 25px;
    }
  }
}
