@import "../../styles/variables.scss";

.main {
  min-height: 100vh;
}

.mainContainer {
  background-color: $bg-color-2;
  min-height: calc(100vh - $header-height);
  padding-bottom: 20px;
}

.tab {
  padding: 0;
}

.hodlersTableLive {
  margin-bottom: 0;
}

.hodlersTableLive > :not(caption) > * > * {
  padding: 0.1rem 0.1rem;
}

.marketplace {
  margin-right: 15px;
}

.marketplace:hover {
  opacity: 0.75;
}

.theArtImage {
  max-width: 100%;
  max-height: 800px;
}

.sort {
  color: $font-color;
  cursor: pointer;
  margin-right: 15px;
  text-decoration: none;

  &:hover {
    color: white !important;
  }
}

.sortDirection {
  &:hover {
    color: $off-white;
  }
}

.disabled {
  color: $lightest-grey;
  text-decoration: none;
  &:hover {
    color: white;
  }
}

.fullScreen {
  position: absolute;
  top: 3.1rem;
  right: 0;
  cursor: pointer;
  z-index: 100;
  width: 20px;
}

.memePageTab {
  color: darken($color: $font-color, $amount: $darken-percentage);
  margin-right: 15px;
  cursor: pointer;
  &:hover {
    color: white;
  }
}

.memePageTabActive {
  color: white;
}

@media only screen and (max-width: 450px) {
  .arweaveLink {
    font-size: 8px;
  }
}

.transactionsTable {
  tr td {
    white-space: nowrap;
  }
  tr td:first-child {
    width: 1%;
  }

  tr {
    line-height: 40px;
  }

  tr:nth-child(odd) {
    background-color: $almost-very-dark-grey;
  }
}

.transactionsScrollContainer {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  overflow-x: auto;
}

.transactionsScrollContainer::-webkit-scrollbar {
  display: none;
}

.transactionsTable > :not(caption) > * > * {
  padding: 0.5rem !important;
}

.memesCarousel {
  a {
    height: fit-content;
    top: 22px;
    width: 80%;
  }

  a span {
    width: 1.2rem;
    height: 1.2rem;
  }
}

.rankSubheading {
  color: $font-color !important;
}

.hodlersTable {
  td {
    width: 50%;
  }
}

.overviewColumn {
  font-size: larger;
  font-weight: bold;
}

.overviewColumnNote {
  font-size: smaller;
  font-weight: lighter;
}

.activityFilterDropdown {
  line-height: 48px;
  text-align: center;
  background-color: transparent;
  border: none;
  width: 100%;
  a {
    line-height: 30px;
  }
  button {
    font-size: larger !important;
    font-weight: bolder !important;
    cursor: copy;
    padding: 0;
    background-color: transparent !important;
    border-color: transparent !important;
    &::after {
      margin-top: 0.8rem;
    }
  }
  div {
    width: 80%;
  }
}

@media only screen and (max-width: 800px) {
  .activityFilterDropdown {
    button {
      &::after {
        margin-top: 0.5rem;
      }
    }
  }
}

.tabFocus {
  float: left;
  white-space: nowrap;
  cursor: pointer;
  margin-right: 20px;
  color: $lightest-grey;
  text-decoration: none;

  &:hover {
    color: white;
  }
}

.tabFocusActive {
  color: white !important;
}

.nftImagePadding {
  padding-bottom: 35px;
}

.volumeDropdown {
  text-align: center;
  background-color: transparent;
  border: none;
  display: inline-block;

  a {
    line-height: 30px;
  }
  button {
    color: $lightest-grey !important;
    font-size: inherit;
    padding: 0;
    background-color: transparent !important;
    border-color: transparent !important;
    &::after {
      margin-top: 0.8rem;
    }
  }
  div {
    width: 60%;
  }
}

@media only screen and (max-width: 800px) {
  .volumeDropdown {
    button {
      &::after {
        margin-top: 0.5rem;
      }
    }
  }
}

.volumeDropdownEnabled {
  button {
    color: white !important;
  }
}

.leaderboardNavigationLeft {
  text-align: left;
}

.leaderboardNavigationRight {
  text-align: right;
}

@media only screen and (max-width: 767px) {
  .leaderboardNavigationLeft,
  .leaderboardNavigationRight {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.nftImageWrapper {
  display: flex;
  align-items: center;
}

.seasonDropdown {
  line-height: 48px;
  text-align: center;
  background-color: transparent;
  border: none;
  padding-right: 25px;
  a {
    line-height: 30px;
  }
  button {
    font-size: larger !important;
    font-weight: bolder !important;
    cursor: copy;
    padding: 0;
    background-color: transparent !important;
    border-color: transparent !important;
    &::after {
      margin-top: 0.8rem;
    }
  }
  div {
    width: 60%;
  }
}

@media only screen and (max-width: 800px) {
  .seasonDropdown {
    button {
      &::after {
        margin-top: 0.5rem;
      }
    }
  }
}

.viewAllLink {
  font-size: 15px !important;
  font-family: $main-font;
  font-weight: lighter;
  margin-left: 15px;

  @media only screen and (max-width: 800px) {
    font-size: 12px !important;
  }
}

.buttonIcon {
  width: 30px;
  cursor: pointer;

  &:hover {
    opacity: 0.75;
  }

  @media only screen and (max-width: 1200px) {
    width: 26px;
  }

  @media only screen and (max-width: 800px) {
    width: 22px;
  }
}

.rememesSortDropdown {
  line-height: 48px;
  text-align: center;
  background-color: transparent;
  border: none;
  padding-right: 25px;
  a {
    line-height: 30px;
  }
  button {
    font-size: larger !important;
    font-weight: bolder !important;
    cursor: copy;
    padding: 0;
    background-color: transparent !important;
    border-color: transparent !important;
    &::after {
      margin-top: 0.8rem;
    }
  }
  div {
    max-height: 65vh;
    overflow-y: auto;
  }
  @media only screen and (max-width: 800px) {
    button {
      &::after {
        margin-top: 0.5rem;
      }
    }
  }
}
