@use "../../styles/variables.scss";

.pageNotFound {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 100px;

  img {
    width: 100px;
    fill: white;
  }
}
