@import "../../styles/variables.scss";

.breadcrumb {
  background-color: $lighter-grey;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  z-index: 1;
  position: relative;
}

.capacitorBreadcrumb {
  background-color: $lighter-grey;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  z-index: 100;
  position: fixed;
}

.capacitorPlaceholder {
  height: 30px;
  opacity: 0;
}

.breadcrumbLink {
  text-decoration: none;

  &:hover {
    text-decoration: underline !important;
  }
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
