@import "../../../../styles/variables.scss";

.modalContent {
  background-color: color(srgb 0.0705882 0.0745098 0.0745098);
  border-radius: 36px;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 0px 0px 1px;
}

.modalTitle {
  font-weight: bolder;
  color: $font-color;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.appWalletConnectorButton {
  &:hover,
  &:focus,
  &:active {
    background-color: inherit !important;
  }
}
