.radioInput {
  position: relative;
  width: 16px;
  height: 16px;
  margin: 0;
  cursor: pointer;
  appearance: none;
  border: 1px solid #37373e;
  border-radius: 50%;
  background-color: transparent;
  transition:
    border-color 0.3s ease,
    background-color 0.3s ease;
  -webkit-appearance: none;
}

.radioInput:checked {
  border-color: #528bff;
  background-color: rgb(82 139 255 / 10%);
}

.radioInput:checked::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #528bff;
  content: "";
}

.radioInput:not(:checked):hover {
  border-color: #848490;
}

.radioInput:focus-visible {
  outline: 2px solid #528bff;
  outline-offset: 2px;
}
