@import "../../styles/variables.scss";

.address {
  text-decoration: underline;
  font-weight: bolder;
  margin-right: 10px;
  float: left;
}

.copy {
  margin-right: 10px;
  cursor: copy;
  font-size: 15px;
  width: 15px;

  &:hover {
    opacity: 0.75;
  }
}

.copyActive {
  cursor: default;
  color: $green;
}

.copyDropdown {
  float: left;
  button {
    cursor: copy;
    padding: 0;
    background-color: transparent !important;
    border-color: transparent !important;
    &::after {
      border: none !important;
    }
  }

  .dropdown-item {
    background-color: red !important;
  }
}

.copyDropdownItem {
  cursor: copy;
}

.memesTag {
  font-family: $main-font;
  font-size: $font-size;
  color: $font-color !important;
  margin-right: 10px;
  padding: 2px 5px;
  background-color: $green;
  white-space: nowrap;
  box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
}

.memesCardsSetsTag {
  font-family: $main-font;
  font-size: $font-size;
  color: $font-color !important;
  margin-right: 10px;
  padding: 2px 5px;
  background-color: $pink;
  white-space: nowrap;
  box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
}

.gradientsTag {
  font-family: $main-font;
  font-size: $font-size;
  color: $font-color !important;
  margin-right: 10px;
  padding: 2px 5px;
  background-color: $blue;
  white-space: nowrap;
  box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
}

@media only screen and (max-width: 1200px) {
  .memesTag,
  .memesCardsSetsTag,
  .gradientsTag {
    font-size: $font-smaller !important;
  }
}

@media only screen and (max-width: 800px) {
  .memesTag,
  .memesCardsSetsTag,
  .gradientsTag {
    font-size: $font-smallest !important;
  }
  .addressWidget {
    white-space: break-spaces;
  }

  .noWrap {
    white-space: nowrap;
  }
}

.userPageAddress {
  font-size: $font-size !important;
}
