@import "../../styles/variables.scss";

.address {
  text-decoration: underline;
  font-weight: bolder;
  margin-right: 10px;
}

.copy {
  margin-right: 10px;
  cursor: copy;
  font-size: 15px;
  width: 15px;

  &:hover {
    opacity: 0.75;
  }
}

.copyActive {
  cursor: default;
  color: $green;
}

.copyDropdown {
  display: inline-block;
  button {
    cursor: copy;
    padding: 0;
    background-color: transparent !important;
    border-color: transparent !important;
    &::after {
      border: none !important;
    }
  }
}

.copyDropdownItem {
  cursor: copy;
}

.memesTag {
  font-family: $main-font;
  font-size: $font-size;
  color: $font-color !important;
  margin-right: 10px;
  padding: 2px 5px;
  background-color: $salmon;
  white-space: nowrap;
  box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
}

.memesCardsSetsTag {
  font-family: $main-font;
  font-size: $font-size;
  color: $font-color !important;
  margin-right: 10px;
  padding: 2px 5px;
  background-color: $pink;
  white-space: nowrap;
  box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
}

.memesCardsSetsS1Tag {
  font-family: $main-font;
  font-size: $font-size;
  color: $font-color !important;
  margin-right: 10px;
  padding: 2px 5px;
  background-color: $green;
  white-space: nowrap;
  box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
}

.memesCardsSetsS2Tag {
  font-family: $main-font;
  font-size: $font-size;
  color: $font-color !important;
  margin-right: 10px;
  padding: 2px 5px;
  background-color: $blue;
  white-space: nowrap;
  box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
}

.gradientsTag {
  font-family: $main-font;
  font-size: $font-size;
  color: $font-color !important;
  margin-right: 10px;
  padding: 2px 5px;
  background-color: $raspberry;
  white-space: nowrap;
  box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
}

.breakTags {
  display: none;
}

@media only screen and (max-width: 1200px) {
  .memesTag,
  .memesCardsSetsTag,
  .gradientsTag,
  .memesCardsSetsS1Tag,
  .memesCardsSetsS2Tag {
    font-size: $font-smaller !important;
  }
}

@media only screen and (max-width: 1600px) {
  .breakTags {
    display: contents;
  }
}

@media only screen and (max-width: 1000px) {
  .memesTag,
  .memesCardsSetsTag,
  .gradientsTag,
  .memesCardsSetsS1Tag,
  .memesCardsSetsS2Tag {
    font-size: 9px !important;
  }
}

.userPageAddress {
  font-size: $font-size !important;
}
