@import "../../styles/variables.scss";

.address {
  font-weight: bold;
  color: white;
  margin-bottom: 0 !important;
}

.addressUserPage {
  font-size: xx-large;
  font-weight: bold;
}

.consolidationDisplay {
  font-weight: bold;
  color: white;
  margin-bottom: 0 !important;
  float: none !important;
  white-space: break-spaces;
}

.consolidationDisplayUserPage {
  font-size: xx-large;
  font-weight: bold;
}

.copy {
  margin-left: 6px;
  margin-right: 6px;
  font-size: 15px;
  width: 15px;

  &:hover {
    opacity: 0.75;
  }

  &:focus {
    outline: none !important;
  }
}

.consolidationDropdown {
  button {
    text-align: left;
    padding: 0;
    background-color: transparent !important;
    border-color: transparent !important;
    &::after {
      border: none !important;
    }
  }
  div {
    width: 100%;
    min-width: fit-content;
  }
}

.copyDropdown {
  display: inline-block;
  button {
    padding: 0;
    background-color: transparent !important;
    border-color: transparent !important;
    &::after {
      border: none !important;
    }
  }
  div {
    width: 100%;
    min-width: fit-content;
  }
}

.addressTag {
  font-family: $main-font;
  font-size: $font-size;
  font-weight: bold;
  color: $font-color !important;
  margin-right: 10px;
  padding: 2px 5px;
  white-space: nowrap;
  box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
  background-color: $dark-grey;
}

.tag {
  font-family: $main-font;
  font-size: $font-size;
  font-weight: bold;
  color: $font-color !important;
  padding: 2px 5px;
  white-space: nowrap;
  box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
  background-color: $dark-grey;
}

.boostTag {
  background-color: $off-white;
  color: $dark-grey !important;
}

.profileTag {
  padding: 5px 10px;
  line-height: normal;
}

@media only screen and (max-width: 1200px) {
  .tag,
  .addressTag {
    font-size: $font-smaller !important;
  }
  .copy {
    font-size: 12px;
    width: 12px;
  }
}

@media only screen and (max-width: 1000px) {
  .tag,
  .addressTag {
    font-size: $font-smallest !important;
  }
  .copy {
    font-size: 10px;
    width: 10px;
  }
}

.userPageAddress {
  font-size: $font-size !important;
}

.tagIcon {
  margin-left: 4px;
  margin-right: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  max-width: 40px;
  max-height: 40px;
}

.memesSetTag {
  background-color: $pink;
  line-height: 24px;
}

.memesTag {
  background-color: $raspberry;
  line-height: 24px;
}

.memeSzn1Tag {
  background-color: $green;
  line-height: 24px;
}

.memeSzn2Tag {
  background-color: $blue;
  line-height: 24px;
}

.memeSzn3Tag {
  background-color: #d7710d;
  line-height: 24px;
}

.memeSzn4Tag {
  background-color: #a8a800;
  line-height: 24px;
}

.memeSzn5Tag {
  background-color: #8c00a8;
  line-height: 24px;
}

.memeSzn6Tag {
  background-color: #110b54;
  line-height: 24px;
}

.gradientTag {
  background-color: $lighter-grey;
  line-height: 24px;
}

.arrowTurnRight {
  margin-left: 6px;
  margin-right: 10px;
  font-size: 15px;
  width: 15px;
  -moz-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  transform: scaleY(-1);

  &:focus {
    outline: none !important;
  }
}

.consolidationDiv {
  font-size: larger;
}
