.scrollContainer {
  -ms-overflow-style: none;
  overflow-x: auto;
  scrollbar-width: none;
}

.scrollContainer::-webkit-scrollbar {
  display: none;
}

.collectedAccordionButton {
  border: 1px solid rgb(55, 55, 61) !important;
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  background-color: rgb(28, 28, 33) !important;
  box-shadow: none !important;
}

.collectedAccordionBody {
  border-right: 1px solid rgb(55, 55, 61) !important;
  border-bottom: 1px solid rgb(55, 55, 61) !important;
  border-left: 1px solid rgb(55, 55, 61) !important;
  background-color: rgb(19, 19, 22) !important;
  color: rgb(147, 147, 159);
}

.collectedAccordionTable {
  margin-bottom: 0 !important;
  border: none !important;
}

.collectedAccordionTable th,
.collectedAccordionTable td {
  padding: 0.3rem 0.2rem !important;
  border-bottom: 0 !important;
  white-space: nowrap !important;
}
