@import "../../styles/variables.scss";

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  background-color: rgba(240, 240, 240, 0.8);
  color: $very-dark-grey;
}

.accept {
  border: none;
  padding: 5px;
  background-color: $bg-color-2;

  transition: transform 0.3s ease;

  margin-left: 5px;
  margin-right: 5px;

  &:hover {
    background-color: $green;
    color: white;
    transform: scale(1.02);
  }
}

.learnMore {
  margin-left: 5px;
  margin-right: 5px;
  color: $very-dark-grey;
  font-size: smaller;
}
