@use "../../styles/variables.scss";

.banner {
  padding: 5px 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 999;
  background-color: rgb(195, 225, 252);
  color: variables.$very-dark-grey;
}

.bannerMobile {
  bottom: 5rem;
  margin-bottom: max(5px, env(safe-area-inset-bottom));
}

.bannerIOS {
  margin-bottom: 0;
}

.accept {
  border: none;
  padding: 5px 10px;
  background-color: variables.$bg-color-2;

  transition: transform 0.3s ease;

  &:hover {
    background-color: variables.$project-green;
    color: white;
    transform: scale(1.02);
  }
}

.learnMore,
.reject {
  border: none;
  background-color: transparent;
  color: variables.$very-dark-grey;
  text-decoration: none;

  &:hover {
    color: variables.$lighter-grey-2;
  }
}
