@import "../../styles/variables.scss";

.timeSelectionSpan {
  font-size: larger;
  padding: 5px 10px;
  cursor: pointer;
  color: $font-color;
}

.timeSelectionSpanSelected {
  background-color: $off-white;
  color: $very-dark-grey;
  font-size: larger;
}

.statsTimeSelectionSpan {
  font-size: larger;
  padding: 5px 10px;
  cursor: pointer;
  color: $font-color !important;
  font-weight: bolder;

  &:hover {
    color: $font-color-h !important;
  }
}

.statsTimeSelectionSpanSelected {
  background-color: $off-white;
  color: $very-dark-grey !important;
  font-size: larger;
  &:hover {
    color: $very-dark-grey !important;
  }
}
