@import "../../styles/variables.scss";

.claimed {
  color: $green;
}

.spotsTable {
  tr td {
    width: 50%;
  }
  margin-bottom: 0;
}

.descriptionClamped {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
