@use "../../../styles/variables.scss";

.capacitorWidget {
  position: fixed;
  width: 100%;
  background-color: black;
  bottom: 0;
  left: 0;
  z-index: 998;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding-left: max(50px, env(safe-area-inset-left));
  padding-right: max(50px, env(safe-area-inset-right));
  padding-bottom: max(10px, env(safe-area-inset-bottom));
  padding-top: 10px;
}

.button {
  color: black;
  height: 35px;
  width: 35px;
  border: none;
  border-radius: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;

  svg {
    width: 22px !important;
    height: 22px !important;
  }

  &:hover {
    svg {
      color: black;
    }
  }
}

.button.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.refreshSpin {
  animation: spin 1s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.sharePopup {
  z-index: 1001;
  background-color: black;
  position: absolute;
  width: fit-content;
  white-space: nowrap;
  left: 50%;
  bottom: 100px;
  display: flex;
  flex-direction: column;
  visibility: hidden;
  opacity: 0;
  transform: translateX(-50%) scale(0.9);
  transition: visibility 0.2s, opacity 0.2s, transform 0.2s;
}

.sharePopup.show {
  visibility: visible;
  opacity: 1;
  transform: translateX(-50%) scale(1);
  animation: fadeInScale 0.2s ease forwards;
}

.sharePopup.hide {
  visibility: hidden;
  opacity: 0;
  transform: translateX(-50%) scale(0.9);
  animation: fadeOutScale 0.2s ease forwards;
}

.sharePopup::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 10px 10px 0 10px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.sharePopupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
}

.sharePopupBtn {
  cursor: pointer;
  padding: 10px;
  background-color: black;
  border: none !important;
  width: 200px;
  text-align: center;

  &:hover {
    background-color: variables.$dark-grey;
  }
}
