@use "sass:color";
@use "../../../styles/variables.scss";

.navigationHeader {
  display: flex;
  align-items: center;
}

.navigationHeaderHr {
  margin: 0;
  border-top-width: 2px;
  color: variables.$lighter-grey;
}

.nextgenBannerWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.nextgenBanner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.collectionPreview {
  padding: 20px;
  border: 1px solid transparent;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.02);
    border: 1px solid variables.$dark-grey;
  }
}

.collectionPreviewTitle {
  padding: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  color: white !important;
}

.mintBtn {
  border-radius: 0;
  border: none;
  background-color: variables.$project-green !important;
  padding: 10px 50px;
  width: 100%;

  &:hover {
    background-color: color.adjust(
      $color: variables.$project-green,
      $lightness: 10%
    ) !important;
  }
}

.globeIcon {
  height: 28px;
  cursor: pointer;
}

.viewAllTokens {
  :hover {
    color: variables.$font-color-h;
  }
  svg {
    height: 22px;
  }
}

.infoIcon {
  height: 18px;
  margin-left: 6px;
  cursor: help;
  &:focus {
    outline: none !important;
  }
}

.backIcon {
  height: 18px;
  cursor: pointer;
  &:focus {
    outline: none !important;
  }
}

@media only screen and (max-width: 800px) {
  .infoIcon {
    height: 15px;
  }
}

.formInput {
  color: variables.$dark-grey !important;
  border-radius: 0 !important;
  border-color: variables.$lightest-grey;

  &:focus {
    border-color: variables.$project-blue !important;
  }
}

.overview {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  user-select: none;
}

.expandedOverview {
  display: inline-block;
}

.copyData {
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    color: variables.$lightest-grey;
  }
}

.previewBanner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.25;
}

.collectionHeaderRow {
  margin-top: -120px;
}

.collectionHeaderCol {
  background-color: variables.$very-dark-grey;
}

.mintSelect {
  color: variables.$dark-grey !important;
}

.mintingForRadio {
  margin-bottom: 0;
  min-height: unset;
  input {
    border-color: transparent !important;
    background-color: white !important;
    cursor: pointer;
  }

  input:checked {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2.3' fill='%23000'/%3e%3c/svg%3e") !important;
  }
}

.loader {
  width: 20px;
  height: 20px;
  margin-left: 5px;
}

.marketplace {
  &:hover {
    opacity: 0.75;
  }
}

.trafficLight {
  height: variables.$font-size;
  width: variables.$font-size;
  border-radius: 50%;
  display: inline-block;
  animation: flashing 1s infinite;
  background-color: variables.$lightest-grey;
}

.trafficLightGreen {
  background-color: green;
}

.trafficLightOrange {
  background-color: orange;
}

.trafficLightRed {
  background-color: red;
}

.collectionTabs {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 20px;
}

.collectionTab {
  cursor: pointer;
}

.collectionTabActive {
  border-bottom: 3px solid;
}

.nextgenTag {
  background-color: rgb(25, 25, 25);
  border-radius: 20px;
  padding: 5px 12px;
  letter-spacing: 0.5px;
  border: 1px solid white;
  color: white;
}

.phaseTimeTagComplete {
  border: 1px solid variables.$font-color-h;
  color: variables.$font-color-h;
}

.phaseTimeTagActive {
  border: 1px solid rgb(56, 235, 56);
  color: rgb(56, 235, 56);
}

.phaseTimeTagUpcoming {
  border: 1px solid variables.$project-orange;
  color: variables.$project-orange;
}

.artistSignature {
  padding: 20px;
  background-color: black;
  font-weight: bold;
}

.tokenContainer {
  background-color: variables.$nextgen-grey;
}

.mintDetails {
  background-color: white;
  color: black;
}

.mintDetailsSpan {
  margin-left: 1.2rem;
  margin-right: 1.2rem;
}

.filterDropdown {
  line-height: 48px;
  text-align: center;
  background-color: transparent;
  border: none;
  padding-right: 10px;
  a {
    line-height: 30px;
  }
  button {
    font-size: larger !important;
    font-weight: bolder !important;
    padding: 0;
    background-color: transparent !important;
    border-color: transparent !important;
    @media only screen and (max-width: 800px) {
      &::after {
        margin-top: 0.5rem;
      }
    }
  }
}

.codeBlock {
  background-color: black;
  padding: 5px 10px;
}

.copyIcon {
  height: 18px;
  cursor: pointer;
  &:hover {
    color: variables.$lightest-grey;
  }
  &:focus {
    outline: none !important;
  }
}

.nextgenCarousel {
  overflow-x: scroll;
  position: relative;
  scroll-behavior: smooth;
  width: calc(100% - 60px);

  &::-webkit-scrollbar {
    height: 8px;
    cursor: pointer;
  }

  &::-webkit-scrollbar-thumb {
    background-color: variables.$nextgen-grey;
    border-radius: 10px;
    border: 1px solid variables.$off-white;
  }

  &::-webkit-scrollbar-track {
    width: 50%;
    background: variables.$off-white;
    border-radius: 10px;
  }

  // Firefox
  @supports (scrollbar-color: auto) {
    scrollbar-color: darkgrey variables.$off-white;
    scrollbar-width: thin;
  }
}

.nextgenCarouselLeft,
.nextgenCarouselRight {
  cursor: pointer;
  padding-left: 15px;
  padding-right: 15px;
  svg {
    height: 30px;
  }
}

.slideshowContainer {
  background-color: variables.$nextgen-grey;
}

.countdownContainer {
  background-color: variables.$very-dark-grey;
  padding: 15px 20px;
  width: 100%;
  color: white;
  box-shadow: 0.5px 0.5px 3px 0px rgba(255, 255, 255, 0.02),
    1px 3px 6px 0px rgba(0, 0, 0, 0.15),
    -0.5px -1px 3px 0px rgba(255, 255, 255, 0.02),
    -3px -3px 5px 0px rgba(255, 255, 255, 0.02) inset,
    6px 3px 6px 0px rgba(0, 0, 0, 0.4) inset;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 0.5rem;
}

.logsTable {
  tr td {
    white-space: nowrap;
  }
  tr td:first-child {
    width: 1%;
  }

  tr {
    line-height: 40px;
  }

  tbody tr:nth-child(odd) {
    background-color: variables.$almost-very-dark-grey;
  }

  & > :not(caption) > * > * {
    padding: 0.5rem !important;
  }
}

.collectionProvenanceAccordion {
  border-radius: 0 !important;
  button {
    background-color: variables.$almost-very-dark-grey !important;
  }
}

.collectionProvenanceAccordionOdd {
  border-radius: 0 !important;
  button {
    background-color: variables.$very-dark-grey !important;
  }
}

.collectionProvenanceAccordionButtonHideCaret {
  &::after {
    display: none !important;
  }
}

.collectionProvenanceAccordionButton {
  padding: 0;
  margin: 0;
  cursor: pointer;
  width: calc(100% - 30px);
}

.collectionProvenanceAccordionBody {
  color: white;
  background-color: variables.$almost-very-dark-grey !important;
}

.collectionProvenanceAccordionBodyOdd {
  color: white;
  background-color: variables.$very-dark-grey !important;
}

.logsScrollContainer {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  overflow-x: auto;
}

.nextgenTokenDetailsLinkSelected {
  border-bottom: 1px solid white !important;
}

.tokenLogsTable {
  min-height: 450px;
}

.traitsAccordion {
  h1,
  h2,
  h3,
  h4,
  h5 {
    float: none;
  }

  button {
    padding-left: 0;
    padding-right: 0;
    font-weight: bold;
    background-color: variables.$very-dark-grey !important;
  }
}

.traitsAccordionItem {
  background-color: variables.$very-dark-grey !important;
}

.traitsAccordionBody {
  padding: 0px;
  color: variables.$font-color;
  background-color: variables.$very-dark-grey !important;
}

.listed {
  font-weight: bold;
}

.rarityDropdown {
  button {
    padding: 6px 20px;
    background-color: transparent !important;
    border: none !important;

    &:hover {
      color: variables.$font-color-h;
    }

    @media only screen and (max-width: 800px) {
      &::after {
        margin-top: 0.5rem;
      }
    }
  }
}

.phaseBox {
  background-color: rgb(23, 22, 28);
  cursor: default;
  padding: 20px;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.015);
  }
}

.exploreBtn {
  background-color: transparent;
  border: 2px solid white !important;
  font-size: larger !important;
  font-weight: bold;
  padding-left: 20px;
  padding-right: 20px;

  &:hover {
    background-color: white;
    color: black;
  }
}

.collectorSetPill {
  background-color: transparent;
  color: white;
  font-weight: bold;
  font-size: larger;
  border: 1px solid white;
  width: 100%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;

  &:hover {
    background-color: variables.$off-white;
    color: black;
  }
}

.collectorSetPillSelected {
  background-color: white;
  color: black;
  pointer-events: none;
}

.collectorSetAccordionBody {
  color: white;
  background-color: variables.$nextgen-grey;
}

.collectorSetAccordionButtonUltimate {
  &::after {
    display: none;
  }
}
