.downloadLink {
  display: inline-flex;
  width: 100%;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  padding-top: 50px;
  padding-bottom: 50px;
}

.downloadLink:hover {
  border: 1px solid rgb(215, 215, 215);
  background-color: rgb(30, 30, 30);
}
