@use "../../styles/variables.scss";

.signModalHeader {
  background-color: variables.$bg-color-2;
  color: variables.$font-color;
  border: 1px solid variables.$lighter-grey !important;
  border-radius: 0;
}

.signModalContent {
  background-color: variables.$bg-color-2;
  color: variables.$font-color;
  border-top: 0;
  border-bottom: 1px solid variables.$lighter-grey !important;
  border-left: 1px solid variables.$lighter-grey !important;
  border-right: 1px solid variables.$lighter-grey !important;
  border-radius: 0;
}
