@import "../../styles/variables.scss";

.marketplace {
  margin-left: 5px;

  &:hover {
    opacity: 0.75;
  }
}

.marketplaceRememe {
  margin-right: 15px;

  &:hover {
    opacity: 0.75;
  }
}

.memeRefDropdown {
  line-height: 48px;
  text-align: center;
  background-color: transparent;
  border: none;
  padding-right: 25px;
  a {
    line-height: 30px;
  }
  button {
    font-size: larger !important;
    font-weight: bolder !important;
    cursor: copy;
    padding: 0;
    background-color: transparent !important;
    border-color: transparent !important;
    &::after {
      margin-top: 0.8rem;
    }
  }
  div {
    max-height: 65vh;
    overflow-y: auto;
  }

  @media only screen and (max-width: 800px) {
    button {
      &::after {
        margin-top: 0.5rem;
      }
    }
  }
}

.buttonIcon {
  width: 30px;
  cursor: pointer;

  &:hover {
    opacity: 0.75;
  }

  @media only screen and (max-width: 1200px) {
    width: 26px;
  }

  @media only screen and (max-width: 800px) {
    width: 22px;
  }
}

.globeIcon {
  margin-right: 8px;
  width: 30px;

  @media only screen and (max-width: 800px) {
    width: 20px;
  }
}

.linkIcon {
  height: $font-size;
  margin-left: 8px;
}

.userLink {
  text-decoration: none;

  img {
    margin-right: 8px;
  }

  &:hover {
    img {
      opacity: 0.75;
    }
  }
}

.tabFocus {
  float: left;
  white-space: nowrap;
  cursor: pointer;
  margin-right: 20px;
  color: #9a9a9a;

  &:hover {
    color: $font-color;
  }
}

.tabActive {
  color: $font-color;
}

.metadataTable > :not(caption) > * > * {
  padding: 0.5rem;
}

.metadataTableNoBreak {
  white-space: nowrap;
}

.metadataTableBreak {
  word-break: break-all;
}

.addRememeContainer {
  border: 1px solid white;
  padding: 30px;
}

.formInput {
  color: $dark-grey !important;
  border-radius: 0 !important;
  border-color: $lightest-grey;

  &:focus {
    border-color: $blue !important;
  }
}

.addMemeReferencesDropdown {
  line-height: 48px;
  background-color: transparent;
  border: none;
  a {
    line-height: 30px;
  }
  svg {
    color: $off-white;
    width: 30px;
    height: 30px;

    &:hover {
      color: white;
    }
  }
  button {
    border: none !important;
    background-color: transparent !important;
    padding: 0 !important;

    &::after {
      border: none !important;
    }
  }

  div {
    max-height: 50vh;
    overflow-y: auto;
  }
}

.addMemeReferenceWrapper {
  white-space: nowrap;
  float: none;
  line-height: 250%;
}

.addMemeReferenceDisplay {
  color: $bg-color-1;
  background-color: $off-white;
  padding: 5px 10px;
  margin-right: 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.addMemeReferenceDisplayBtn {
  border: none;
  border-radius: 0;
  color: $bg-color-1;
  border-color: $bg-color-1 !important;
  width: 30px;
  background-color: $off-white;
  padding: 5px 10px;
  border-right: 1px solid $bg-color-1;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  cursor: pointer;
  outline: 0 !important;

  &:hover {
    background-color: white;
    color: black !important;
  }
}

.addMemeReferenceDisplayBtnDisabled {
  pointer-events: none !important;
  background-color: darken($color: white, $amount: 20);
  color: $lighter-grey-2;
}

.verifiedIcon {
  color: #00ba00;
  width: 30px;
  height: 30px;
}

.unverifiedIcon {
  color: #fb3535;
  width: 30px;
  height: 30px;
}

.replica {
  border: 1px solid white;
  padding: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  a {
    text-decoration: none;
  }

  &:hover {
    background-color: $almost-very-dark-grey;
    border: 1px solid $off-white;
  }
}

.addRememeTokenList {
  position: relative;
  max-height: 40vh;
  overflow-y: scroll;

  li {
    word-wrap: break-word;
  }
}

.connectWalletButton {
  background-color: white !important;
  color: black !important;
  font-size: larger !important;
  font-weight: bolder !important;
  border: none !important;
  padding: 6px 20px;
  margin-left: 20px;
}

.loader {
  width: 20px;
  height: 20px;
  margin-left: 5px;
}

.addRememeChecklist {
  padding: 0 !important;
  margin: 0 !important;
  li {
    list-style-type: none;
  }
}

.rememesFiltersRow {
  justify-content: flex-end;

  @media only screen and (max-width: 1200px) {
    justify-content: center;
  }
}
