@import "../../../styles/variables.scss";

.menuLeft {
  width: 20%;
  flex: none;

  a {
    cursor: pointer;
    text-decoration: none !important;
  }
}

.menuLeftItem {
  cursor: pointer;
  &:hover {
    color: $lightest-grey;
  }
}

.menuLeftItemActive {
  text-decoration: underline;
}

.menuRight {
  width: 80%;
}

.menuLeftFull {
  width: 100%;
  display: none;
}

@media only screen and (max-width: 1000px) {
  .menuLeft {
    display: none;
  }

  .menuLeftFull {
    display: block;
  }

  .menuRight {
    width: 100%;
  }
}

.htmlContainer {
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: $main-font !important;
    float: none;
    color: $font-color;
  }
  img {
    max-width: 80%;
    margin-left: 5%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
