@import "../../../styles/variables.scss";

.header {
  background-color: rgb(40, 40, 40);
  color: white;
  padding: 10px;
}

.walletModalClose {
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.banner {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 2px solid rgb(40, 40, 40);
  border-right: 2px solid rgb(40, 40, 40);
}

.pfp {
  height: 100px;
  width: auto;
  border: 4px solid black;
  margin-top: 10px;
}

.body {
  background-color: black;
  color: white;
  border-left: 2px solid rgb(40, 40, 40);
  border-right: 2px solid rgb(40, 40, 40);
  padding: 20px;
}

.footer {
  border: 2px solid rgb(40, 40, 40);
  background-color: black;
  color: white;
  border-radius: 0 !important;
  padding: 20px 5px;
}

.footerBtnContainer {
  cursor: pointer;
  &:hover {
    color: $off-white;
    & > span:first-child {
      background-color: $off-white;
    }
  }
}

.footerBtn {
  width: 42px;
  height: 42px;
  color: black;
  background-color: white;
  border: none !important;
  border-radius: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerIcon {
  width: 22px;
  height: 22px;
}
