@use "sass:color";
@use "../../styles/variables.scss" as variables;

.distributionHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem !important;
  flex-wrap: wrap;

  @media only screen and (max-width: 1200px) {
    justify-content: center !important;
  }
}

.distributionsTable {
  tr {
    border-bottom: 1px solid #333 !important;
  }
  tr td {
    white-space: nowrap;
  }
  tr th {
    min-width: 80px;
    white-space: nowrap;
    line-height: 30px;
  }

  tr td {
    vertical-align: middle;
    a {
      text-decoration: none;
    }
  }
}

.distributionsTableWallet {
  font-size: smaller;
}

.distributionsScrollContainer {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  overflow-x: auto;
}

.distributionsScrollContainer::-webkit-scrollbar {
  display: none;
}

.distributionsTable > :not(caption) > * > * {
  padding: 0.5rem !important;
}

.distributionPlanLink {
  text-decoration: underline;
  cursor: pointer;
}

.distributionCarousel {
  width: 90%;
  margin-left: 5%;
  img {
    width: 80%;
    margin-left: 10%;
    height: auto;
  }
}

@media only screen and (max-width: 800px) {
  .distributionCarousel {
    img {
      width: 100%;
      margin-left: 0%;
      height: auto;
    }
  }
}

.distributionPhaseLink {
  line-height: 40px;
  color: variables.$font-color-h;
  margin-right: 20px;
  font-size: larger;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: variables.$font-color;
  }
}

@media only screen and (max-width: 800px) {
  .distributionPhaseLink {
    line-height: 32px;
  }
}

.distributionPhaseLinkActive {
  color: variables.$font-color;
}

.totalResults {
  font-size: larger;
  display: inline-block;
  margin-bottom: -5px;
  margin-left: 10px;
}

.distributionsCaretWrapper {
  float: right;
}

.distributionsCaret {
  height: 14px;
  cursor: pointer;
}

.distributionsCaretDisabled {
  color: variables.$lightest-grey;
  &:hover {
    color: white;
  }
}
