@import "../../styles/variables.scss";

.consolidationSwitch {
  float: left;
  font-size: larger;
  font-weight: bold;
  margin-top: 3px;

  input {
    border-color: transparent !important;
    background-color: white !important;
    cursor: pointer;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23000'/%3e%3c/svg%3e") !important;
  }

  input:checked {
    background-color: $yellow !important;
  }
}

.consolidationSwitchLabel {
  float: left;
  font-size: larger;
  font-weight: bold;
}
