@font-face {
  font-family: "Square One";
  font-display: swap;
  src: url("../assets/square-one-2/SquareOne-p7jra.ttf");
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../assets/montserrat/Montserrat-VariableFont_wght.ttf");
}
