@import "./variables.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

#seize-web3-network-switch {
  display: none;
}

body {
  background: $bg-color-1;
  background-color: $bg-color-2 !important;
  color: $font-color !important;
  font-size: $font-size !important;
  font-family: $main-font !important;
  overflow: auto;
}

textarea,
select,
input,
button {
  color: $font-color;
}

textarea:not(.tailwind-scope textarea),
select:not(.tailwind-scope select),
input:not(.tailwind-scope input),
button:not(.tailwind-scope button),
video:not(.tailwind-scope video),
svg:not(.tailwind-scope svg) {
  font-size: $font-size;
  outline: 0 !important;
  box-shadow: none !important;
}

a {
  outline: 0 !important;
  text-decoration: underline;
  color: $font-color;
}

a:hover {
  color: darken($color: $font-color, $amount: $darken-percentage);
}

@media only screen and (max-width: 1200px) {
  body,
  button:not(.tailwind-scope button),
  textarea,
  select,
  input,
  button:not(.tailwind-scope button),
  video,
  select {
    font-size: $font-smaller !important;
  }
}

@media only screen and (max-width: 800px) {
  body,
  button,
  textarea,
  select,
  input,
  button:not(.tailwind-scope button),
  video,
  select {
    font-size: $font-smallest !important;
  }
}

* {
  &:before,
  &:after {
    position: absolute;
    content: "";
  }
}

h1 {
  font-family: $square-font !important;
  font-size: 48px;
  float: left;
  color: $font-color-h;
}

h2 {
  font-size: 32px;
  font-weight: bold;
  float: left;
  color: $font-color-h;
}

h3 {
  font-size: 28px;
  font-weight: bold;
  float: left;
  color: $font-color-h;
}

h4 {
  font-size: 24px;
  font-weight: bold;
  float: left;
  color: $font-color-h;
}

h5 {
  font-size: 20px;
  font-weight: bold;
  float: left;
  color: $font-color-h;
}

@media only screen and (max-width: 800px) {
  h1 {
    font-family: $square-font !important;
    font-size: 26px;
    float: left;
  }

  h2 {
    font-size: 22px;
    font-weight: bold;
    float: left;
  }

  h3 {
    font-size: 18px;
    font-weight: bold;
    float: left;
  }

  h4 {
    font-size: 18px;
    font-weight: bold;
    float: left;
  }

  h5 {
    font-size: 16px;
    font-weight: bold;
    float: left;
    color: $font-color-h;
  }
}

.text-right {
  text-align: right;
}

.no-padding {
  padding: 0;
}

#walletconnect-wrapper {
  color: black !important;

  a {
    color: black !important;
  }

  input {
    color: black !important;
  }
}

.-cbwsdk-try-extension-cta {
  background-color: #0052ff !important;
  padding: 10px !important;
}

#footer {
  background-color: $bg-color-1;
  padding: 1rem;
  line-height: 18px;

  img {
    height: 18px;
    vertical-align: bottom;
  }

  @media only screen and (max-width: 800px) {
    img {
      height: 14px;
      vertical-align: middle;
    }
  }

  a {
    padding-top: 8px;
    padding-bottom: 8px;
    text-decoration: none;
    white-space: nowrap;
  }

  a:hover {
    opacity: 0.75;
  }
}

.twitter-share-button {
  background-color: #1d9bf0 !important;
  height: 30px;
  box-sizing: border-box;
  padding: 1px 12px 1px 6px !important;
  border-radius: 9999px;
  font-size: smaller !important;

  &:hover {
    background-color: #0c7abf !important;
  }
}

.font-color {
  color: $font-color;
}

.font-color-h {
  color: $font-color-h;
}

.indented {
  margin-left: 5%;
}

.font-smaller {
  font-size: smaller;
}

.font-larger {
  font-size: larger;
}

.font-bolder {
  font-weight: bolder;
}

.no-wrap {
  white-space: nowrap;
}

.icon-black {
  background-color: $very-dark-grey;
  color: white;
  display: block;
  height: 30px;
  width: 30px;
  text-align: center;
  border-radius: 15px;
}

.icon-white {
  background-color: white;
  color: $very-dark-grey;
  display: block;
  height: 30px;
  width: 30px;
  text-align: center;
  border-radius: 15px;
}

.decoration-none {
  text-decoration: none;
}

.decoration-hover-underline {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.scale-hover {
  img {
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.02);
    }
  }
}

.seize-btn {
  border-radius: 0 !important;
  border: 0 !important;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bolder;
}

.seize-btn-link {
  border-radius: 0 !important;
  padding-left: 20px;
  padding-right: 20px;
  background-color: transparent !important;
  border: transparent !important;
  text-decoration: underline;
  color: $font-color !important;

  &:hover {
    color: $font-color-h !important;
  }
}

.btn-white {
  background-color: white !important;
  color: black !important;

  &:hover {
    background-color: $off-white !important;
  }
}

.btn-black {
  background-color: black !important;
  color: white !important;

  &:hover {
    background-color: $dark-grey !important;
  }
}

.btn-green {
  background-color: $green;
  color: white !important;

  &:hover {
    background-color: lighten($color: $green, $amount: 5);
  }
}

.btn-block {
  width: 100%;
}

.cursor-pointer {
  cursor: pointer;
}

.area-clamped {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.area-expanded {
  -webkit-line-clamp: none;
}
