@use "sass:color";
@use "variables.scss";
@use "fonts.scss";
@import "react-toggle/style.css";
@import "react-tooltip/dist/react-tooltip.css";
@import "highlight.js/styles/vs2015.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .layout-root {
    min-height: 100dvh;

    --layout-max: 82.75rem;
    --sidebar-width: 0px;
    --collapsed-width: 0px;
    --expanded-width: 0px;

    --scrollbar-compensation: calc(100vw - 100%);
    --layout-margin: max(
      ((100vw - var(--layout-max)) - var(--scrollbar-compensation)) / 2,
      0px
    );
    --left-rail: calc(var(--layout-margin) + var(--sidebar-width));
  }

  .layout-root:not([data-mobile="true"]) {
    max-width: var(--layout-max);
    margin-inline: auto;
  }

  .layout-root[data-mobile="true"] {
    --layout-margin: 0px;
    --left-rail: 0px;
  }

  .layout-main {
    width: 100%;
    will-change: transform;
    transition-property: transform, opacity;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .layout-main[data-mobile="false"][data-narrow="false"] {
    padding-left: var(--sidebar-width);
  }

  .layout-main[data-mobile="false"][data-narrow="true"] {
    padding-left: var(--collapsed-width);
  }

  .layout-main[data-offcanvas="true"][data-mobile="true"][data-right-open="false"] {
    transform: translateX(var(--sidebar-width));
  }

  .layout-main[data-offcanvas="true"][data-mobile="false"][data-narrow="true"][data-right-open="false"] {
    transform: translateX(calc(var(--expanded-width) - var(--collapsed-width)));
  }

  .layout-main[data-offcanvas="true"][data-mobile="true"],
  .layout-main[data-offcanvas="true"][data-mobile="false"][data-narrow="true"] {
    opacity: 0.4;
    pointer-events: none;
  }
}

@layer base {
  * {
    -webkit-tap-highlight-color: transparent;
  }

  /* Android keyboard height adjustments */
  :root {
    --android-keyboard-height: 0px;
  }
}

// add the code bellow
@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  /* Prevent text selection on touch devices only */
  .touch-select-none {
    // Use any-* queries so hybrid devices (touchscreen + trackpad/mouse) don't
    // get treated as touch-only when the primary pointer is coarse.
    @media (any-hover: none) and (any-pointer: coarse) {
      user-select: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      -webkit-touch-callout: none;
      -webkit-tap-highlight-color: transparent;
      touch-action: manipulation;
      -khtml-user-select: none;
      -o-user-select: none;

      /* Additional Android-specific properties */
      -webkit-user-drag: none;
      -webkit-user-modify: read-only;
    }
  }

  /* Android keyboard adjustments */
  .android-keyboard-adjust {
    padding-bottom: var(--android-keyboard-height);
    transition: padding-bottom 0.3s ease-out;
  }

  .android-keyboard-transform {
    transform: translateY(calc(-1 * var(--android-keyboard-height)));
    transition: transform 0.3s ease-out;
  }

  /* Custom selection mode for drops area */
  .drops-custom-selection {
    /* Default cursor for the container */
    cursor: default;

    /* Text cursor only on actual text content elements */
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    li,
    code,
    span.tw-align-middle,
    span.emoji-text-node,
    span:not(.emoji-node):not(.emoji-node-big) {
      cursor: text;
    }

    /* Override text cursor for excluded elements */
    [data-text-selection-exclude="true"] {
      p,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      li,
      code,
      span.tw-align-middle,
      span.emoji-text-node,
      span:not(.emoji-node):not(.emoji-node-big) {
        cursor: pointer !important;
        user-select: none !important;
        -webkit-user-select: none !important;
        -moz-user-select: none !important;
        -ms-user-select: none !important;
      }
    }

    /* Ensure links and buttons remain clickable and allow selection in them */
    a,
    button,
    input,
    textarea,
    select {
      cursor: pointer !important;
      user-select: auto;
      -webkit-user-select: auto;
      -moz-user-select: auto;
      -ms-user-select: auto;
    }
  }
}

#seize-web3-network-switch {
  display: none;
}

@media only screen and (min-width: 1300px) {
  html {
    scrollbar-gutter: stable both-edges;
  }
}

body {
  background-color: #000000 !important;
  color: variables.$font-color !important;
  font-size: variables.$font-size !important;
  font-family: variables.$main-font !important;
  overflow: auto;

  &.capacitor-native footer {
    padding-bottom: 100px !important;
  }
}

.mobile-wrapper-dialog {
  input,
  textarea,
  select {
    font-size: 16px;
    touch-action: manipulation;
  }
}

body.capacitor-native {
  input,
  textarea,
  select,
  [contenteditable="true"] {
    font-size: max(1rem, 16px) !important;
    touch-action: manipulation;
  }
}

textarea,
select,
input,
button {
  color: variables.$font-color;
}

textarea:not(.tailwind-scope textarea),
select:not(.tailwind-scope select),
input:not(.tailwind-scope input),
button:not(.tailwind-scope button),
video:not(.tailwind-scope video),
svg:not(.tailwind-scope svg) {
  font-size: variables.$font-size;
  outline: 0 !important;
  box-shadow: none !important;
}

code {
  color: #25e4eb;
}

a {
  outline: 0 !important;
  text-decoration: underline;
  color: variables.$font-color;
}

@media (hover: hover) {
  a:hover {
    color: color.scale(
      variables.$font-color,
      $lightness: -(variables.$darken-percentage)
    );
  }
}

@media only screen and (max-width: 1200px) {
  body,
  button:not(.tailwind-scope button),
  textarea:not(.tailwind-scope textarea),
  select,
  input:not(.tailwind-scope input),
  button:not(.tailwind-scope button),
  video,
  select {
    font-size: variables.$font-smaller !important;
  }
}

@media only screen and (max-width: 800px) {
  body,
  button:not(.tailwind-scope button),
  textarea:not(.tailwind-scope textarea),
  select,
  input:not(.tailwind-scope input),
  button:not(.tailwind-scope button),
  video,
  select {
    font-size: variables.$font-smallest !important;
  }
}

* {
  &:before,
  &:after {
    position: absolute;
    content: "";
  }
}

b:not(.tailwind-scope b) {
  font-weight: 600;
}

h1 {
  font-size: 20px;
  font-weight: 700;
  color: variables.$font-color;
}

h2:not(.tailwind-scope h2) {
  font-size: 18px;
  font-weight: 700;
  color: variables.$font-color;
}

h3:not(.tailwind-scope h3) {
  font-size: 18px;
  font-weight: 700;
  color: variables.$font-color;
}

h4:not(.tailwind-scope h4) {
  font-size: 18px;
  font-weight: 700;
  color: variables.$font-color;
}

h5:not(.tailwind-scope h5) {
  font-size: 18px;
  font-weight: 700;
  color: variables.$font-color;
}

@media only screen and (max-width: 800px) {
  h1 {
    font-size: 18px;
  }

  h2:not(.tailwind-scope h2) {
    font-size: 16px;
    font-weight: bold;
  }

  h3:not(.tailwind-scope h3) {
    font-size: 16px;
    font-weight: bold;
  }

  h4:not(.tailwind-scope h4) {
    font-size: 16px;
    font-weight: bold;
  }

  h5:not(.tailwind-scope h5) {
    font-size: 16px;
    font-weight: bold;
  }
}

.text-right {
  text-align: right;
}

.no-padding {
  padding: 0;
}

#walletconnect-wrapper {
  color: black !important;

  a {
    color: black !important;
  }

  input {
    color: black !important;
  }
}

.-cbwsdk-try-extension-cta {
  background-color: #0052ff !important;
  padding: 10px !important;
}

#footer {
  font-size: variables.$font-smaller;
  background-color: variables.$bg-color-1;
  padding: 2rem;
  line-height: 18px;

  img {
    height: 18px;
    vertical-align: bottom;
  }

  @media only screen and (max-width: 800px) {
    img {
      height: 14px;
      vertical-align: middle;
    }
  }

  a {
    padding-top: 8px;
    padding-bottom: 8px;
    text-decoration: none;
    white-space: nowrap;
  }

  a:hover {
    opacity: 0.75;
  }
}

.twitter-share-button {
  background-color: #1d9bf0 !important;
  height: 30px;
  box-sizing: border-box;
  padding: 1px 12px 1px 6px !important;
  border-radius: 9999px;
  font-size: smaller !important;

  &:hover {
    background-color: #0c7abf !important;
  }
}

.font-color {
  color: variables.$font-color;
}

.font-color-h {
  color: variables.$font-color-h;
}

.font-color-silver {
  color: variables.$silver;
}

.font-color-blue {
  color: #0d6efd;
}

.font-color-green {
  color: #28a745;
}

.font-color-red {
  color: #dc3545;
}

.font-color-hover {
  &:hover {
    color: variables.$font-color;
  }
}

.indented {
  margin-left: 5%;
}

.font-smaller {
  font-size: smaller;
}

.font-larger {
  font-size: larger;
}

.font-bolder {
  font-weight: bold;
}

.font-lighter {
  font-weight: 200;
}

.font-lightest {
  font-weight: 100;
}

.no-wrap {
  white-space: nowrap;
  min-width: fit-content;
}

.icon-black {
  background-color: variables.$very-dark-grey;
  color: white;
  display: block;
  height: 30px;
  width: 30px;
  text-align: center;
  border-radius: 15px;
}

.icon-white {
  background-color: white;
  color: variables.$very-dark-grey;
  display: block;
  height: 30px;
  width: 30px;
  text-align: center;
  border-radius: 15px;
}

.decoration-none {
  text-decoration: none;
}

.decoration-underline {
  text-decoration: underline;
}

.decoration-hover-underline {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.scale-hover {
  img {
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.02);
    }
  }
}

.seize-btn {
  border-radius: 0 !important;
  border: 0 !important;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bold;
}

.seize-btn-link {
  border-radius: 0 !important;
  padding-left: 20px;
  padding-right: 20px;
  background-color: transparent !important;
  border: transparent !important;
  text-decoration: underline;
  color: variables.$font-color !important;

  &:hover {
    color: variables.$font-color-h !important;
  }
}

.btn-white {
  background-color: white !important;
  color: black !important;

  &:hover {
    background-color: variables.$off-white !important;
  }
}

.btn-black {
  background-color: black !important;
  color: white !important;

  &:hover {
    background-color: variables.$dark-grey !important;
  }
}

.btn-green {
  background-color: variables.$project-green;
  color: white !important;

  &:hover {
    background-color: color.adjust(
      $color: variables.$project-green,
      $lightness: 5%
    );
  }
}

.btn-block {
  width: 100%;
}

.cursor-pointer {
  cursor: pointer;
}

.edit-profile {
  opacity: 0;
  transition:
    visibility 0s,
    opacity 0.3s ease-out;
}

.edit-profile:hover {
  visibility: visible;
  opacity: 1;
}

.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:focus {
    outline: none !important;
  }
}

.btn-link {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;

  &:hover,
  &:focus,
  &:active {
    background-color: inherit !important;
  }

  &:hover {
    color: variables.$font-color-h !important;
  }
}

.scrollbar-width {
  scrollbar-width: thin;
}

.horizontal-menu-hide-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.horizontal-menu-hide-scrollbar::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera*/
}

.horizontal-menu-scrollable-x {
  -webkit-overflow-scrolling: touch;
  /* For momentum scroll on iOS */
}

// Scroll shadow for content overflow indication
.scroll-shadow {
  background:
    /* Shadow at the top */
    linear-gradient(
        to bottom,
        rgba(14, 16, 21, 0.8) 0%,
        rgba(14, 16, 21, 0) 10px
      )
      0 0,
    /* Shadow at the bottom */
    linear-gradient(to top, rgba(14, 16, 21, 0.8) 0%, rgba(14, 16, 21, 0) 10px)
      0 100%,
    /* Preventing the shadows from overlapping the content */
    radial-gradient(
        farthest-side at 50% 0,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0)
      )
      0 0,
    radial-gradient(
        farthest-side at 50% 100%,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0)
      )
      0 100%;

  background-repeat: no-repeat;
  background-size:
    100% 10px,
    100% 10px,
    100% 10px,
    100% 10px;

  /* Make sure the shadows remain fixed during scrolling */
  background-attachment: local, local, scroll, scroll;
}

.table-scroll-container {
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
  overflow-x: auto;

  &::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
  }
}

.react-toggle--checked .react-toggle-thumb,
.react-toggle--focus .react-toggle-thumb {
  box-shadow: none;
}

.react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #757576;
}

.react-toggle--checked .react-toggle-track {
  background-color: #00ff00;
}

.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #128d15;
}

@media (hover: hover) and (pointer: fine) {
  .icon:hover {
    color: #ffffff;
  }
}

@media (any-hover: none) and (any-pointer: coarse) {
  .touch-visible {
    display: block !important;
  }
}

pre code {
  word-break: break-word;
}

.word-break {
  word-break: break-word;
}

.react-toggle--disabled {
  opacity: 0.75;
}

@-moz-document url-prefix() {
  .firefox-svg {
    opacity: 0.3 !important;
  }
}

.float-left {
  float: left;
}

.inset-safe-area {
  margin-top: env(safe-area-inset-top);
}

.seize-card {
  padding: 20px;
  border: 1px solid transparent;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.01);
    border: 1px solid variables.$dark-grey;
    cursor: pointer;
  }
}

/* X card */
@media (max-width: 390px) {
  a.tw-no-underline .react-tweet-theme.tweet-container_root__0rJLq,
  a.tw-no-underline .react-tweet-theme.tweet-container_root__0rJLq * {
    white-space: pre-wrap !important;
    word-break: normal !important;
    overflow-wrap: break-word !important;
  }

  .tweet-body_root__ChzUj {
    font-size: 1rem !important;
  }

  a.tw-no-underline .tweet-actions_actions__UDw7H,
  a.tw-no-underline .tweet-actions_actions__UDw7H * {
    white-space: nowrap !important;
    word-break: normal !important;
    overflow-wrap: normal !important;
  }
}

.emoji-node {
  width: auto;
  height: 1.2em;
}

.emoji-node-big {
  width: auto;
  height: 3em;
}

.emoji-text-node {
  font-size: 3em;
  line-height: 1.2em;
  vertical-align: middle;
}

/* Drop Content Wrapper Utilities */
.drop-content-container {
  position: relative;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.drop-content-container.should-truncate:not(.expanded) {
  max-height: 1000px;
}

.drop-expand-button {
  display: none;
}

.drop-content-container.should-truncate .drop-expand-button {
  display: flex;
}
