@font-face {
  font-family: square one;
  font-style: normal;
  font-weight: 400;
  src: local("Square One"),
    url(https://fonts.cdnfonts.com/s/55931/SquareOne-p7jra.woff) format("woff");
  font-display: swap;
}
@font-face {
  font-family: square one;
  font-style: italic;
  font-weight: 400;
  src: local("Square One"),
    url(https://fonts.cdnfonts.com/s/55931/SquareOneItalic-3ze5G.woff)
      format("woff");
  font-display: swap;
}
@font-face {
  font-family: square one;
  font-style: normal;
  font-weight: 700;
  src: local("Square One"),
    url(https://fonts.cdnfonts.com/s/55931/SquareOneBold-OVno8.woff)
      format("woff");
  font-display: swap;
}
@font-face {
  font-family: square one;
  font-style: italic;
  font-weight: 700;
  src: local("Square One"),
    url(https://fonts.cdnfonts.com/s/55931/SquareOneBoldItalic-ax8do.woff)
      format("woff");
  font-display: swap;
}
