@use "variables.scss";

.swiper {
  --swiper-navigation-size: 24px;
  position: relative;
  .swiper-slide-active {
    scale: 1.05;
  }
  .swiper-pagination {
    position: static;
    text-align: center;

    .swiper-pagination-bullet-active {
      background: variables.$off-white;
    }
  }

  &.swiper-horizontal .swiper-button-prev,
  &.swiper-horizontal .swiper-button-next {
    color: variables.$off-white;
    top: auto;
    margin-top: 0;
    bottom: 2px;

    &::before,
    &::after {
      display: none;
    }
  }

  .swiper-button-prev {
    left: calc(50% - 120px);
  }

  .swiper-button-next {
    right: calc(50% - 120px);
  }
}

.submission-carousel-swiper {
  .swiper-slide-active {
    scale: 1;
  }
}
