@import "./variables.scss";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
@import "swiper/css/scrollbar";

.swiper {
  position: relative;
  .swiper-slide-active {
    scale: 1.05;
  }
  .swiper-pagination {
    position: static;
    text-align: center;

    .swiper-pagination-bullet-active {
      background: $off-white;
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    color: $off-white;
    position: absolute;
    top: auto;
    bottom: 8px;

    &::after {
      font-size: 1.5rem;
    }
  }
}
