@import "./square-one.scss";

//FONT FAMILIES
$square-font: "Square One", sans-serif;
$main-font: Arial;

$header-height: 120px;

// FONT SIZES
$font-size: 18px;
$font-smaller: 15px;
$font-smallest: 11px;

// COLORS
$off-white: rgb(215, 215, 215);
$lightest-grey: rgb(154, 154, 154);
$lighter-grey: rgb(68, 68, 68);
$light-grey: rgb(40, 40, 40);
$almost-very-dark-grey: rgb(30, 30, 30);
$very-dark-grey: rgb(34, 34, 34);
$dark-grey: rgb(51, 51, 51);
$font-color: white;
$font-color-h: $lightest-grey;
$font-color-dark: black;
$bg-color-1: black;
$bg-color-2: $very-dark-grey;

$darken-percentage: 30%;

$pink: #de218c;
$green: #259a68;
$blue: #267c93;
$orange: #ffa500;
$salmon: #e55137;
$yellow: #ffff00;
$raspberry: #c51d34;
