<div>
  <h3>
    <b>Reference Architecture</b>
  </h3>
  Wallets, Delegation, Consolidation
  <br />
  <br />
  The purpose of this page is to describe what we consider a reference (good)
  architecture for organizing your ETH addresses and using the delegation and
  consolidation features of The Memes/6529 ecosystem, in a manner that will
  improve your address security.
  <br />
  <br />
  Your personal circumstances may vary, no approach is fool-proof and you still
  have to get implement the below correctly, but the overall approach described
  should be a good approach for most people in the 6529 ecosystem.
  <br />
  <br />
  <h3>
    <b>Overview</b>
  </h3>
  It is important to take proper safety measures to keep your ETH, ERC-20 tokens
  and NFTs safe. Common ways to lose crypto assets are:
  <ul>
    <li>
      Phishing: Giving your seed phrase or access to your computer (through,
      say, screensharing) to anyone. The most effective mitigation for this is:
      "simply don't do it"
    </li>
    <li>
      Malware: Malicious software on your computer can access the private key of
      a hot wallet like Metamask. The most effective mitigation for this is:
      “use a hardware wallet”
    </li>
    <li>
      Connecting to malicious websites: Malicious websites can take your NFTs if
      you sign a malicious transaction, even if you use a hardware wallet.
    </li>
  </ul>
  The most effective mitigation for this is to use separate addresses for your
  “vault”, for your “transaction wallet” and for your “minting wallet”
  <br />
  <br />
  There are other more obscure risks, but if you can organize your ETH
  activities to avoid these three risks, you are doing better than almost
  everyone in the ecosystem and we salute you!
  <br />
  <br />
  <h3>
    <b>Seize.io and NFTDelegation.com</b>
  </h3>
  The 6529 team has built and launched NFTDelegation, an open-source, trust-less
  smart contract for advanced delegation and consolidation. NFTDelegation.com is
  a smart contract that any team, project or individual can use.
  <br />
  <br />
  It is being used first on Seize.io, but your entries are visible and available
  to other projects as well.
  <br />
  <br />
  The combination of “delegation” (allowing one address to take actions on
  behalf of another one) and “consolidation” (requesting multiple addresses to
  be treated as one) means that a multi-address architecture like described
  below will still allow for convenient and safer NFT activities.
  <br />
  <br />
  <h3>
    <b>Reference Address Architecture</b>
  </h3>
  <ol>
    <li>
      Buy one hardware wallet ($60 to $200) from a reliable vendor like Trezor
      or Ledger. Consider using the "Shamir's Secret Sharing Scheme" (SSSS) to
      split your keys when setting it up.
    </li>
    <br />
    <li>
      Create 3 Ethereum addresses on the hardware wallet
      <ol type="a">
        <br />
        <li>
          Address A is your “vault” address. You send any NFTs that you plan to
          hold for long periods of time to this address. You do not connect
          these addresses to any services. You only transfer NFTs in or out from
          this address.
        </li>
        <br />
        <li>
          Address B is your “transaction” address. You use this address to buy
          or sell NFTs on major, trusted marketplaces.
        </li>
        <br />
        <li>
          Address C is your “minting” address. You use this address to mint NFTs
          and to connect to new, unknown and untrusted services. You do not keep
          any NFTs or any meaningful assets on this address. Minted NFTs should
          be transferred to Address A or Address B as appropriate, as soon as
          they are minted.
        </li>
      </ol>
    </li>
    <br />
    <li>
      Acceptable alternatives to the above:
      <ol type="a">
        <br />
        <li>
          Address A (vault): Could be a SAFE (formerly Gnosis) multi-sig smart
          contract for greater security or resilience
        </li>
        <br />
        <li>
          Address C (minting): Could be a hot wallet or mobile wallet for
          greater convenience
        </li>
      </ol>
    </li>
    <br />
    <li>
      [Optional] Label these addresses as subdomains of your ENS (e.g.
      mint.yourname.eth) for better legibility and reduce the likelihood of a
      transfer made in error.
    </li>
  </ol>
  <br />
  <h3>
    <b>Set Delegations</b>
  </h3>
  Setting delegations will allow you to mint any allowlist spots from any wallet
  from your “hottest”/ “most convenient” wallet. The best way to set delegations
  in a 3-address architecture is below.
  <ol>
    <br />
    <li>Set the following three (3) delegations on Seize.io</li>
    <br />
    <li>
      Connect to Seize.io with Address A (vault)
      <ol type="a">
        <br />
        <li>
          Designate Address B (transaction) as the subdelegate of Address B
        </li>
        <br />
        <li>
          This means that Address A never has to connect to any service again
          and further delegations can be made on its behalf by Address B
        </li>
      </ol>
    </li>
    <br />
    <li>
      Connect to Seize.io with Address B (transaction)
      <ol type="a">
        <br />
        <li>
          Address B (transaction) delegates Case 2 (minting/allowlist) to
          Address C (minting)
        </li>
        <br />
        <li>
          Address B (transaction) delegates Case 2 (minting/allowlist) on behalf
          of Address A (vault) to Address C (minting)
        </li>
        <br />
        <li>
          This means that all allowlist spots for Address A, B and C will be
          assigned to Address C which can mint on behalf of all three
        </li>
      </ol>
    </li>
    <br />
    <li>
      [Optional] You can delegate Case 3 (airdrops) from Address B and Address C
      to Address A so that all airdrops go directly to your vault. Do this if
      you are not planning to sell your airdrops, otherwise consider delegating
      them to Address B instead.
    </li>
    <br />
    <li>
      We recommend that people set their delegation for “All Collections” unless
      you have some unique circumstances. We will respect “All Collections” and
      collection-specific delegations. If you make both types of delegations, we
      will respect the collection-specific delegation instead of the All
      Collections delegation.
    </li>
  </ol>
  <br />
  <h3>
    <b>Set Consolidations</b>
  </h3>
  Consolidations have nothing to do with delegation from a functionality
  perspective. They are an on-chain message to Seize to treat two or three
  addresses as one for the purpose of calculating metrics related to the content
  of your wallet, such as total cards held, total unique cards held, TDH and,
  also, to allow for a common view of your NFTs in on-site galleries.
  <br />
  <br />
  You can choose to set consolidation for “All Collections” or just for “The
  Memes” contract and we will respect either one. If you set consolidation
  entries on both, we will respect the one for “The Memes” contract.
  <ol>
    <br />
    <li>
      Connect to Seize.io as Address B
      <ol type="a">
        <br />
        <li>Address B sets a consolidation with Address A</li>
        <br />
        <li>Address B sets a consolidation with Address C</li>
        <br />
        <li>
          Address B sets a consolidation on behalf of Address A with Address B
        </li>
        <br />
        <li>
          Address B sets a consolidation on behalf of Address A with Address C
        </li>
      </ol>
    </li>
    <br />
    <li>
      Connect to Seize.io as Address C
      <ol type="a">
        <br />
        <li>Address C sets a consolidation with Address A</li>
        <br />
        <li>Address C sets a consolidation with Address B</li>
      </ol>
    </li>
    <br />
    <li>
      Notes:
      <ol type="a">
        <br />
        <li>
          You can consolidate more than 3 addresses, but Seize.io will only
          count the last 3 delegations you made for consolidation purposes (to
          limit gaming)
        </li>
        <br />
        <li>
          The purpose of consolidation is simply to allow people to use a
          3-address architecture safely without being penalized in allowlists.{"
          "}
        </li>
        <br />
        <li>
          If we believe you or others are gaming the system (e.g. buying
          consolidation from a 3rd party), we reserve the right to apply
          penalties to you, such as removing your addresses from allowlists, or
          to change the system altogether, in our completely arbitrary
          discretion. In other words, please don’t FAFO.
        </li>
      </ol>
    </li>
  </ol>
  <br />
  <h3>
    <b>I don’t have a hardware wallet</b>
  </h3>
  You should buy a hardware wallet.
  <br />
  <br />
  In the meantime, you can still replicate this 3-address architecture in your
  hot wallet. While this does not protect you from malicious software on your
  computer, it will still reduce your risk in the interim.
  <br />
  <br />
  <h3>
    <b>This is too hard!</b>
  </h3>
  No, it is not, it is very easy, you just need to invest a few hours to
  understand it, just like you have to invest time for other important
  activities like driving or learning how to use a bank account.
  <br />
  <br />
  If you are going to hold $1,000 to $1,000,000 of NFTs (or more) on-chain, you
  should take the time to learn how to do this. It will dramatically reduce your
  risk of losing your valuable and important NFTs and other cryptoassets.
  <br />
  <br />
  <h3>
    <b>
      I want to connect to NFTDelegations.com via Etherscan, instead of Seize.io
    </b>
  </h3>
  If you are an advanced user capable of doing so, you can connect directly to
  the NFTDelegation.com contract on Etherscan which can be found{" "}
  <a
    href="https://sepolia.etherscan.io/address/0xA63c180Dd6574bDB2DC8761C9fc45FFA3CD6FeE3#code"
    target="_blank"
    rel="noreferrer">
    here
  </a>
</div>
